<div class="container">
	
	<div class="row">
	    <div class="col s12 center-align">
			<img src="assets/img/burger.png" width="300px" alt="Eat Da Burger">
	        <h1>Eat-Da-Burger</h1>
	    </div>
  	</div>
	<!-- end .row -->

	<div class="row">
	    <div class="col s6" id="toeat">

			<h4>Burgers to eat!</h4>

			<ul>
			  {{#each burgers}}
			    {{#unless this.devoured}}
            <p>
              <li>
			      	  {{this.id}}.{{this.burger_name}}
                <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="devoured" value="true">
                  <button type="submit" class="btn waves-effect waves-light green z-depth-2">DEVOUR IT!</button>
                </form>
			        </li> 
            </p>
			    {{/unless}}
			  {{/each}}
			</ul>
	    </div>

	    <div class="col s6" id="eaten">

			<h4>Burgers Eaten!</h4>
			<ul >
	      {{#each burgers}}
			    {{#if this.devoured}}
					<div class="black-text" id="devoured">
            <p>
              <li>
                {{this.id}}.{{this.burger_name}}
              </li>
            </p>   
					</div>
			    {{/if}}
			  {{/each}}
      </ul>
    </div>
  </div>
	<!-- end .row -->

	<div class="row">
	    <div class="col s12 center-align">

			<h4>Add a Burger!</h4>

			<form class="create-update-form" action="/" method="POST">
        <input type="text" id="ca" name="burger_name"placeholder="">
				<input type="hidden" name="devoured" value="false">
			  <button class="btn waves-effect waves-light green" type="submit" name="action">Place your Order</button>
			</form>
	  </div>
	</div>
	<!-- end .row -->

</div>